<!DOCTYPE html>
<html>
<section class="container catalog">
  <ul class="breadcrumb list-reset">
    <li><a href="#" class="breadcrumb__main-return breadcrumb-link" aria-label="Перейти на главную страницу">Главная</a>
    </li>
    <li><a href="#" class="breadcrumb-link" aria-label="Перейти на страницу каталога">Каталог</a></li>
    <li><a href="#" class="breadcrumb-link" aria-label="Перейти на страницу диваны">Диваны</a></li>
    <li>Прямые диваны</li>
  </ul>
  <div class="catalog__wrp flex">
    <aside class="aside flex">
      <span class="aside__title">Фильтровать по:</span>
      <div class="aside__block-color flex">
        <span class="aside__subtitle">Цвет</span>
        <ul class="aside__checkbox checkbox list-reset">
          <li class="checkbox__item">
            <label class="checkbox__list" aria-label="Коричневый цвет">
              <input type="checkbox" class="checkbox__input">
              <span class="checkbox__text">Коричневый</span>
            </label>
          </li>
          <li class="checkbox__item">
            <label class="checkbox__list" aria-label="Черный цвет">
              <input type="checkbox" class="checkbox__input">
              <span class="checkbox__text">Черный</span>
            </label>
          </li>
          <li class="checkbox__item">
            <label class="checkbox__list" aria-label="Синий цвет">
              <input type="checkbox" class="checkbox__input">
              <span class="checkbox__text">Синий</span>
            </label>
          </li>
          <li class="checkbox__item">
            <label class="checkbox__list" aria-label="Белый цвет>">
              <input type="checkbox" class="checkbox__input visually-hidden">
              <span class="checkbox__text">Белый</span>
            </label>
          </li>
        </ul>
      </div>
      <div class="aside__block-categories flex">
        <span class="aside__subtitle">Категория</span>
        <ul class="aside__checkbox checkbox list-reset">
          <li class="checkbox__item">
            <label class="checkbox__list" aria-label="Диваны">
              <input type="checkbox" class="checkbox__input visually-hidden">
              <span class="checkbox__text">Диваны</span>
            </label>
          </li>
          <li class="checkbox__item">
            <label class="checkbox__list" aria-label="Кресла">
              <input type="checkbox" class="checkbox__input visually-hidden">
              <span class="checkbox__text">Кресла</span>
            </label>
          </li>
        </ul>
      </div>
      <div class="aside__block-price flex">
        <span class="aside__subtitle aside__subtitle-price">Цена</span>
        <div class="aside__input-price price flex">
          <span class="price__span">От</span>
          <input type="number" class="price__input" aria-label="Ввод минимальной цены">
          <span class="price__span">До</span>
          <input type="number" class="price__input" aria-label="Ввод максимальной цены">
        </div>
      </div>
      <div class="aside__banner banner">
        <picture class="aside__img">
          <source srcset="./images/aside_banner.webp" media="(max-width: 990px)">
          <source srcset="./images/aside_banner.webp" media="(max-width: 1379px)">
          <source srcset="./images/aside_banner.webp" media="(min-width: 1380px)">
          <img class="lazyload" src="#" data-src="./images/aside_banner.webp" alt="Новая коллекция кресел Оксфорд 1950">
        </picture>
        <div class="banner__wrp">
          <h2 class="banner__title">Оксфорд 1950</h2>
          <span class="banner__descr">Новая коллекция изысканных кресел</span>
          <span class="banner__link-wrp flex">
            <a href="#" class="banner__link">В каталог</a>
            <svg class="banner__arrow" width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1_956)">
                <circle cx="11" cy="11" r="10" stroke-width="2" />
                <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </g>
              <defs>
                <clippath id="clip0_1_956">
                  <rect width="22" height="22" />
                </clippath>
              </defs>
            </svg>
          </span>
        </div>
      </div>
    </aside>
    <div class="catalog__container">
      <h3 class="catalog__title">Каталог</h3>
      <div class="catalog__card-wrp catalog__card-wrp--active grid" data-target="one">
        <div class="catalog__card1 card flex">
          <div class="rating flex">
            <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
            <span class="stars">5.0</span>
          </div>
          <div class="catalog__wrapper-top flex">
            <picture class="high-rating1-img">
              <source srcset="./images/high_rating_img1_320.webp" media="(max-width: 445px)">
              <source srcset="./images/high_rating_img1.webp" media="(max-width: 1379px)">
              <source srcset="./images/high_rating_img1.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/high_rating_img1.webp" alt="Диван">
            </picture>
          </div>
          <div class="catalog__wrapper flex">
            <h4 class="card__title">
              Диван кожаный <br> "R-94"
            </h4>
            <div class="wrapper-price flex">
              <span class="card-price">94 990 руб</span>
            </div>
            <button class="card__btn card__btn-catalog btn-reset" aria-label="Купить">Купить</button>
          </div>
        </div>
        <div class="catalog__card2 card flex">
          <div class="rating flex">
            <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
            <span class="stars">4.9</span>
          </div>
          <div class="catalog__wrapper-top flex">
            <picture class="high-rating2-img">
              <source srcset="./images/high_rating_img2_320.webp" media="(max-width: 445px)">
              <source srcset="./images/high_rating_img2.webp" media="(max-width: 1379px)">
              <source srcset="./images/high_rating_img2.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/high_rating_img2.webp" alt="Диван">
            </picture>
          </div>
          <div class="catalog__wrapper flex">
            <h4 class="card__title">
              Диван апартековый <br> "T-75"
            </h4>
            <div class="wrapper-price flex">
              <span class="card-price">69 990 руб</span>
            </div>
            <button class="card__btn card__btn-catalog btn-reset" aria-label="Купить">Купить</button>
          </div>
        </div>
        <div class="catalog__card3 card flex">
          <div class="rating flex">
            <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
            <span class="stars">4.8</span>
          </div>
          <div class="catalog__wrapper-top flex">
            <picture class="high-rating3-img">
              <source srcset="./images/high_rating_img3_320.webp" media="(max-width: 445px)">
              <source srcset="./images/high_rating_img3.webp" media="(max-width: 1379px)">
              <source srcset="./images/high_rating_img3.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/high_rating_img3.webp" alt="Диван">
            </picture>
          </div>
          <div class="catalog__wrapper flex">
            <h4 class="card__title">
              Диван тканевый <br> "D-31"
            </h4>
            <div class="wrapper-price flex">
              <span class="card-price">28 490 руб</span>
            </div>
            <button class="card__btn card__btn-catalog btn-reset" aria-label="Купить">Купить</button>
          </div>
        </div>
        <div class="catalog__card4 card flex">
          <div class="rating flex">
            <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
            <span class="stars">4.8</span>
          </div>
          <div class="catalog__wrapper-top flex">
            <picture class="high-rating4-img">
              <source srcset="./images/high_rating_img4_320.webp" media="(max-width: 445px)">
              <source srcset="./images/high_rating_img4.webp" media="(max-width: 1379px)">
              <source srcset="./images/high_rating_img4.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/high_rating_img4.webp" alt="Диван">
            </picture>
          </div>
          <div class="catalog__wrapper flex">
            <h4 class="card__title">
              Диван велюровый <br> "Y-68"
            </h4>
            <div class="wrapper-price flex">
              <span class="card-price">22 990 руб</span>
            </div>
            <button class="card__btn card__btn-catalog btn-reset" aria-label="Купить">Купить</button>
          </div>
        </div>
        <div class="catalog__card5 card flex">
          <div class="rating flex">
            <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
            <span class="stars">4.8</span>
          </div>
          <div class="catalog__wrapper-top flex">
            <picture class="high-rating5-img">
              <source srcset="./images/high_rating_img5_320.webp" media="(max-width: 445px)">
              <source srcset="./images/high_rating_img5.webp" media="(max-width: 1379px)">
              <source srcset="./images/high_rating_img5.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/high_rating_img5.webp" alt="Диван">
            </picture>
          </div>
          <div class="catalog__wrapper flex">
            <h4 class="card__title">
              Диван из&nbsp;шинила <br> "W-95"
            </h4>
            <div class="wrapper-price flex">
              <span class="card-price">22 990 руб</span>
            </div>
            <button class="card__btn card__btn-catalog btn-reset" aria-label="Купить">Купить</button>
          </div>
        </div>
        <div class="catalog__card6 card flex">
          <div class="rating flex">
            <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
            <span class="stars">4.8</span>
          </div>
          <div class="catalog__wrapper-top flex">
            <picture class="high-rating6-img">
              <source srcset="./images/high_rating_img6_320.webp" media="(max-width: 445px)">
              <source srcset="./images/high_rating_img6.webp" media="(max-width: 1379px)">
              <source srcset="./images/high_rating_img6.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/high_rating_img6.webp" alt="Диван">
            </picture>
          </div>
          <div class="catalog__wrapper flex">
            <h4 class="card__title">
              Диван флоковый <br> "G-41"
            </h4>
            <div class="wrapper-price flex">
              <span class="card-price">17 990 руб</span>
            </div>
            <button class="card__btn card__btn-catalog btn-reset" aria-label="Купить">Купить</button>
          </div>
        </div>
        <div class="catalog__card7 card flex">
          <div class="rating flex">
            <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
            <span class="stars">4.8</span>
          </div>
          <div class="catalog__wrapper-top flex">
            <picture class="high-rating7-img">
              <source srcset="./images/high_rating_img7.webp" media="(max-width: 1379px)">
              <source srcset="./images/high_rating_img7.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/high_rating_img7.webp" alt="Диван">
            </picture>
          </div>
          <div class="catalog__wrapper flex">
            <h4 class="card__title">
              Диван шиниловый <br> "V-43"
            </h4>
            <div class="wrapper-price flex">
              <span class="card-price">19 990 руб</span>
            </div>
            <button class="card__btn card__btn-catalog btn-reset" aria-label="Купить">Купить</button>
          </div>
        </div>
        <div class="catalog__card8 card flex">
          <div class="rating flex">
            <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
            <span class="stars">4.7</span>
          </div>
          <div class="catalog__wrapper-top flex">
            <picture class="high-rating8-img">
              <source srcset="./images/high_rating_img8.webp" media="(max-width: 1379px)">
              <source srcset="./images/high_rating_img8.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/high_rating_img8.webp" alt="Диван">
            </picture>
          </div>
          <div class="catalog__wrapper flex">
            <h4 class="card__title">
              Диван велюровый <br> "S-99"
            </h4>
            <div class="wrapper-price flex">
              <span class="card-price">19 990 руб</span>
            </div>
            <button class="card__btn card__btn-catalog btn-reset" aria-label="Купить">Купить</button>
          </div>
        </div>
        <div class="catalog__card9 card flex">
          <div class="rating flex">
            <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
            <span class="stars">4.7</span>
          </div>
          <div class="catalog__wrapper-top flex">
            <picture class="high-rating9-img">
              <source srcset="./images/high_rating_img9.webp" media="(max-width: 1379px)">
              <source srcset="./images/high_rating_img9.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/high_rating_img9.webp" alt="Диван">
            </picture>
          </div>
          <div class="catalog__wrapper flex">
            <h4 class="card__title">
              Диван из кожзама <br>“F-85”
            </h4>
            <div class="wrapper-price flex">
              <span class="card-price">26 990 руб</span>
            </div>
            <button class="card__btn card__btn-catalog btn-reset" aria-label="Купить">Купить</button>
          </div>
        </div>
      </div>
      <div class="catalog__card-wrp grid" data-target="two">
        <div class="catalog__card1 card flex">
          <div class="rating flex">
            <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
            <span class="stars">5.0</span>
          </div>
          <div class="catalog__wrapper-top flex">
            <picture class="high-rating1-img">
              <source srcset="./images/high_rating_img1_320.webp" media="(max-width: 445px)">
              <source srcset="./images/high_rating_img1.webp" media="(max-width: 1379px)">
              <source srcset="./images/high_rating_img1.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/high_rating_img1.webp" alt="Диван">
            </picture>
          </div>
          <div class="catalog__wrapper flex">
            <h4 class="card__title">
              Диван кожаный <br> "R-94"
            </h4>
            <div class="wrapper-price flex">
              <span class="card-price">94 990 руб</span>
            </div>
            <button class="card__btn card__btn-catalog btn-reset" aria-label="Купить">Купить</button>
          </div>
        </div>
        <div class="catalog__card2 card flex">
          <div class="rating flex">
            <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
            <span class="stars">4.9</span>
          </div>
          <div class="catalog__wrapper-top flex">
            <picture class="high-rating2-img">
              <source srcset="./images/high_rating_img2_320.webp" media="(max-width: 445px)">
              <source srcset="./images/high_rating_img2.webp" media="(max-width: 1379px)">
              <source srcset="./images/high_rating_img2.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/high_rating_img2.webp" alt="Диван">
            </picture>
          </div>
          <div class="catalog__wrapper flex">
            <h4 class="card__title">
              Диван апартековый <br> "T-75"
            </h4>
            <div class="wrapper-price flex">
              <span class="card-price">69 990 руб</span>
            </div>
            <button class="card__btn card__btn-catalog btn-reset" aria-label="Купить">Купить</button>
          </div>
        </div>
        <div class="catalog__card3 card flex">
          <div class="rating flex">
            <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
            <span class="stars">4.8</span>
          </div>
          <div class="catalog__wrapper-top flex">
            <picture class="high-rating3-img">
              <source srcset="./images/high_rating_img3_320.webp" media="(max-width: 445px)">
              <source srcset="./images/high_rating_img3.webp" media="(max-width: 1379px)">
              <source srcset="./images/high_rating_img3.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/high_rating_img3.webp" alt="Диван">
            </picture>
          </div>
          <div class="catalog__wrapper flex">
            <h4 class="card__title">
              Диван тканевый <br> "D-31"
            </h4>
            <div class="wrapper-price flex">
              <span class="card-price">28 490 руб</span>
            </div>
            <button class="card__btn card__btn-catalog btn-reset" aria-label="Купить">Купить</button>
          </div>
        </div>
        <div class="catalog__card4 card flex">
          <div class="rating flex">
            <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
            <span class="stars">4.8</span>
          </div>
          <div class="catalog__wrapper-top flex">
            <picture class="high-rating4-img">
              <source srcset="./images/high_rating_img10_320.webp" media="(max-width: 445px)">
              <source srcset="./images/high_rating_img10.webp" media="(max-width: 1379px)">
              <source srcset="./images/high_rating_img10.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/high_rating_img10.webp" alt="Диван">
            </picture>
          </div>
          <div class="catalog__wrapper flex">
            <h4 class="card__title">
              Диван велюровый <br>“R-85”
            </h4>
            <div class="wrapper-price flex">
              <span class="card-price">34 990 руб</span>
            </div>
            <button class="card__btn card__btn-catalog btn-reset" aria-label="Купить">Купить</button>
          </div>
        </div>
        <div class="catalog__card5 card flex">
          <div class="rating flex">
            <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
            <span class="stars">4.8</span>
          </div>
          <div class="catalog__wrapper-top flex">
            <picture class="high-rating5-img">
              <source srcset="./images/high_rating_img5_320.webp" media="(max-width: 445px)">
              <source srcset="./images/high_rating_img5.webp" media="(max-width: 1379px)">
              <source srcset="./images/high_rating_img5.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/high_rating_img5.webp" alt="Диван">
            </picture>
          </div>
          <div class="catalog__wrapper flex">
            <h4 class="card__title">
              Диван из&nbsp;шинила <br> "W-95"
            </h4>
            <div class="wrapper-price flex">
              <span class="card-price">22 990 руб</span>
            </div>
            <button class="card__btn card__btn-catalog btn-reset" aria-label="Купить">Купить</button>
          </div>
        </div>
        <div class="catalog__card6 card flex">
          <div class="rating flex">
            <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
            <span class="stars">4.8</span>
          </div>
          <div class="catalog__wrapper-top flex">
            <picture class="high-rating6-img">
              <source srcset="./images/high_rating_img11_320.webp" media="(max-width: 445px)">
              <source srcset="./images/high_rating_img11.webp" media="(max-width: 1379px)">
              <source srcset="./images/high_rating_img11.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/high_rating_img11.webp" alt="Диван">
            </picture>
          </div>
          <div class="catalog__wrapper flex">
            <h4 class="card__title">
              Диван флоковый <br>“H-58”
            </h4>
            <div class="wrapper-price flex">
              <span class="card-price">23 990 руб</span>
            </div>
            <button class="card__btn card__btn-catalog btn-reset" aria-label="Купить">Купить</button>
          </div>
        </div>
        <div class="catalog__card7 card flex">
          <div class="rating flex">
            <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
            <span class="stars">4.8</span>
          </div>
          <div class="catalog__wrapper-top flex">
            <picture class="high-rating7-img">
              <source srcset="./images/high_rating_img7.webp" media="(max-width: 1379px)">
              <source srcset="./images/high_rating_img7.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/high_rating_img7.webp" alt="Диван">
            </picture>
          </div>
          <div class="catalog__wrapper flex">
            <h4 class="card__title">
              Диван шиниловый <br> "V-43"
            </h4>
            <div class="wrapper-price flex">
              <span class="card-price">19 990 руб</span>
            </div>
            <button class="card__btn card__btn-catalog btn-reset" aria-label="Купить">Купить</button>
          </div>
        </div>
        <div class="catalog__card8 card flex">
          <div class="rating flex">
            <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
            <span class="stars">4.7</span>
          </div>
          <div class="catalog__wrapper-top flex">
            <picture class="high-rating8-img">
              <source srcset="./images/high_rating_img12.webp" media="(max-width: 1379px)">
              <source srcset="./images/high_rating_img12.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/high_rating_img12.webp" alt="Диван">
            </picture>
          </div>
          <div class="catalog__wrapper flex">
            <h4 class="card__title">
              Диван велюровый <br>“S-44”
            </h4>
            <div class="wrapper-price flex">
              <span class="card-price">19 990 руб</span>
            </div>
            <button class="card__btn card__btn-catalog btn-reset" aria-label="Купить">Купить</button>
          </div>
        </div>
        <div class="catalog__card9 card flex">
          <div class="rating flex">
            <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
            <span class="stars">4.7</span>
          </div>
          <div class="catalog__wrapper-top flex">
            <picture class="high-rating8-img">
              <source srcset="./images/high_rating_img13.webp" media="(max-width: 1379px)">
              <source srcset="./images/high_rating_img13.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/high_rating_img13.webp" alt="Диван">
            </picture>
          </div>
          <div class="catalog__wrapper flex">
            <h4 class="card__title">
              Диван шиниловый <br>“V-43”
            </h4>
            <div class="wrapper-price flex">
              <span class="card-price">19 990 руб</span>
            </div>
            <button class="card__btn card__btn-catalog btn-reset" aria-label="Купить">Купить</button>
          </div>
        </div>
      </div>
      <div class="catalog__card-wrp grid catalog__card-wrp--hidden" data-target="three">
        <div class="catalog__card10 card flex">
          <div class="rating flex">
            <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
            <span class="stars">4.8</span>
          </div>
          <div class="catalog__wrapper-top flex">
            <picture class="high-rating7-img">
              <source srcset="./images/high_rating_img10_320.webp" media="(max-width: 445px)">
              <source srcset="./images/high_rating_img7.webp" media="(max-width: 1379px)">
              <source srcset="./images/high_rating_img7.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/high_rating_img7.webp" alt="Диван">
            </picture>
          </div>
          <div class="catalog__wrapper flex">
            <h4 class="card__title">
              Диван шиниловый <br> "V-43"
            </h4>
            <div class="wrapper-price flex">
              <span class="card-price">19 990 руб</span>
            </div>
            <button class="card__btn card__btn-catalog btn-reset" aria-label="Купить">Купить</button>
          </div>
        </div>
        <div class="catalog__card11 card flex">
          <div class="rating flex">
            <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
            <span class="stars">4.7</span>
          </div>
          <div class="catalog__wrapper-top flex">
            <picture class="high-rating8-img">
              <source srcset="./images/high_rating_img5_320.webp" media="(max-width: 445px)">
              <source srcset="./images/high_rating_img8.webp" media="(max-width: 1379px)">
              <source srcset="./images/high_rating_img8.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/high_rating_img8.webp" alt="Диван">
            </picture>
          </div>
          <div class="catalog__wrapper flex">
            <h4 class="card__title">
              Диван велюровый <br> "S-99"
            </h4>
            <div class="wrapper-price flex">
              <span class="card-price">19 990 руб</span>
            </div>
            <button class="card__btn card__btn-catalog btn-reset" aria-label="Купить">Купить</button>
          </div>
        </div>
        <div class="catalog__card12 card flex">
          <div class="rating flex">
            <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
            <span class="stars">4.7</span>
          </div>
          <div class="catalog__wrapper-top flex">
            <picture class="high-rating9-img">
              <source srcset="./images/high_rating_img11_320.webp" media="(max-width: 445px)">
              <source srcset="./images/high_rating_img9.webp" media="(max-width: 1379px)">
              <source srcset="./images/high_rating_img9.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/high_rating_img9.webp" alt="Диван">
            </picture>
          </div>
          <div class="catalog__wrapper flex">
            <h4 class="card__title">
              Диван из кожзама <br>“F-85”
            </h4>
            <div class="wrapper-price flex">
              <span class="card-price">26 990 руб</span>
            </div>
            <button class="card__btn card__btn-catalog btn-reset" aria-label="Купить">Купить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tabs grid">
    <div class="tabs__wrp flex">
      <button class="tabs__nav tabs__nav--active" data-path="one" aria-label="Первая страница каталога">1</button>
      <button class="tabs__nav" data-path="two" aria-label="Вторая страница каталога">2</button>
      <button class="tabs__nav tabs__nav--hidden" data-path="three" aria-label="Третья страница каталога">3</button>
    </div>
  </div>
</section>

</html>
