<!DOCTYPE html><html>
  <footer class="footer flex">
    <div class="container footer__top flex">
      <div class="footer__container flex">
        <div class="footer__block-left">
          <a href="#" class="footer__logo-link logo-link" aria-label="Логотип интернет магазина">
            <svg class="icon footer__logo" width="187" height="27" viewBox="0 0 187 27" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="./images/svg/sprite.svg#logo"></use>
            </svg>
          </a>
          <div class="footer__social-wrapper flex">
            <a href="https://ok.ru/" class="footer__social-link" aria-label="Ссылка на сайт одноклассники"
              target="_blank">
              <svg class="icon footer__social-icon" width="30" height="30" viewBox="0 0 30 30" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="./images/svg/sprite.svg#ok"></use>
              </svg>
            </a>
            <a href="https://vk.com/feed" class="footer__social-link" aria-label="Ссылка на сайт вконтакте"
              target="_blank">
              <svg class="icon footer__social-icon" width="30" height="30" viewBox="0 0 30 30" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="./images/svg/sprite.svg#vk"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="footer__block-right flex">
          <ul class="footer__list footer__list1 list-reset">
            <li class="footer__item-title">
              О нас
            </li>
            <li class="footer__item">
              <a href="#" class="footer__item-link">
                О компании
              </a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__item-link">
                Блог
              </a>
            </li>
          </ul>
          <ul class="footer__list footer__list2 list-reset">
            <li class="footer__item-title">
              Услуги
            </li>
            <li class="footer__item">
              <a href="#" class="footer__item-link">
                Доставка
              </a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__item-link">
                Рассрочка и кредит
              </a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__item-link">
                Сборка и установка
              </a>
            </li>
          </ul>
          <ul class="footer__list footer__list3 list-reset">
            <li class="footer__item-title">
              Связь с нами
            </li>
            <li class="footer__item">
              <a href="#" class="footer__item-link">
                Обратная связь
              </a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__item-link">
                Контакты
              </a>
            </li>
          </ul>
          <ul class="footer__list footer__list4 list-reset">
            <li class="footer__item-title">
              Сотрудничество
            </li>
            <li class="footer__item">
              <a href="#" class="footer__item-link footer__item-suppliers">
                Поставщикам
              </a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__item-link">
                Оптовикам
              </a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__item-link">
                Карьера
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__bottom flex">SDP® 2011-2021</div>
  </footer>
</html>

