<!DOCTYPE html>
<html>
  <header class="header">
    <div class="header__block-top-wrapper">
      <div class="header__block--hidden"></div>
      <div class="container header__block-top flex">
        <a class="header__phone-link" href="tel:+749542423532" aria-label="Номер телефона интернет магазина">
          <svg class="icon header__phone__img" width="18" height="18" viewBox="0 0 18 18" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="./images/svg/sprite.svg#phone"></use>
          </svg>
          +7 (495) 885-45-47</a>
        <nav class="header__nav">
          <ul class="header__nav-list list list-reset flex">
            <li class="list__item">
              <a href="#" class="list__link">О компании</a>
            </li>
            <li class="list__item">
              <a href="#" class="list__link">Гарантия и возврат</a>
            </li>
            <li class="list__item">
              <a href="#" class="list__link">Корпоративным клиентам</a>
            </li>
            <li class="list__item">
              <a href="#" class="list__link">Дизайн-решение</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="container header__block-center flex">
      <div class="block-center-top flex">
        <a href="#" class="header__logo__link logo-link" aria-label="Логотип интернет магазина">
          <svg class="icon header__logo" width="187" height="27" viewBox="0 0 187 27" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="./images/svg/sprite.svg#logo"></use>
          </svg>
        </a>
        <nav class="header__nav-bottom">
          <ul class="header__nav-list nav header__nav__list-center list-reset flex">
            <li class="nav__item">
              <a href="#" class="nav__item-link nav__item-catalog">Каталог</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__item-link">Магазины</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__item-link">Шоу-рум</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__item-link">Доставка и оплата</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__item-link">Дисконт</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__item-link">Контакты</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="block-center-bottom flex">
        <div class="header__input-wrp">
          <svg class="icon label__loope" width="20" height="20" viewBox="0 0 20 20" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="../images/svg/sprite.svg#loope"></use>
          </svg>
          <input type="text" class="header__input" placeholder="Я хочу купить..." aria-label="Поиск по сайту">
          <button class="header__input__btn btn-reset" aria-label="Кнопка искать по сайту">
            <svg class="input__search_arrow" width="32" height="32" viewBox="0 0 32 32" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1_927)">
                <circle cx="16" cy="16" r="15" stroke-width="2" />
                <path d="M14 11L19 16L14 21" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </g>
              <defs>
                <clippath id="clip0_1_927">
                  <rect width="32" height="32" />
                </clippath>
              </defs>
            </svg>
          </button>
        </div>
        <div class="header__buttons flex">
          <button class="btn-user btn-reset" aria-label="Вход пользователя">
            <svg class="icon header__user" width="26" height="28" viewBox="0 0 26 28" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="../images/svg/sprite.svg#user"></use>
            </svg>
          </button>
          <button class="btn-basket btn-reset flex" aria-label="Корзина покупок">
            <span class="btn-basket__quantity">0</span>
            <svg class="icon header__basket" width="30" height="28" viewBox="0 0 30 28" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="../images/svg/sprite.svg#basket"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </header>
</html>

