<!DOCTYPE html>
<html>
  <main class="main">
    <h1 class="vision-hidden">Магазин диванов и мебели</h1>
    <section class="hero">
      <div class="container">
        <h2 class="hero__title">
          Скидка 15% <br> на первую покупку
        </h2>
        <button class="hero__btn btn-reset" aria-label="Получить скидку">Получить!</button>
      </div>
    </section>
    <section class="container special-offer">
      <h3 class="special-offer__title">Специальные предложения</h3>
      <div class="special-offer__container grid">
        <div class="special-offer__item1 card flex">
          <span class="discount">-9000</span>
          <div class="special-offer__wrapper-top flex">
            <picture class="special-offer__img1">
              <source srcset="./images/special1.webp" media="(max-width: 1379px)">
              <source srcset="./images/special1.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/special1.webp" alt="Кресло">
            </picture>
          </div>
          <div class="special-offer__wrapper-bottom flex">
            <h4 class="special-offer__card-title card__title">
              Кресло велюровое <br> "X-24"
            </h4>
            <div class="wrapper-price item flex">
              <span class="item__price">15 990 руб</span>
              <span class="item__price-old">24 990 руб</span>
            </div>
            <button class="card__btn btn-reset" aria-label="Купить товар специального предложения">Купить</button>
          </div>
        </div>
        <div class="special-offer__item2 card flex">
          <span class="discount">-10000</span>
          <div class="special-offer__wrapper-top flex">
            <picture class="special-offer__img2">
              <source srcset="./images/special2_1024.webp" media="(max-width: 1379px)">
              <source srcset="./images/special2.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/special2.webp" alt="Диван">
            </picture>
          </div>
          <div class="special-offer__wrapper-bottom flex">
            <h4 class="special-offer__card-title card__title">
              Диван тканевый <br> "Z-44"
            </h4>
            <div class="wrapper-price item flex">
              <span class="item__price">22 990 руб</span>
              <span class="item__price-old">32 990 руб</span>
            </div>
            <button class="card__btn btn-reset" aria-label="Купить товар специального предложения">Купить</button>
          </div>
          <picture class="special-offer2-mini">
            <source srcset="./images/special2_mini.webp" media="(max-width: 1379px)">
            <source srcset="./images/special2_mini.webp" media="(min-width: 1380px)">
            <img class="lazyload" src="#" data-src="./images/special2_mini.webp" alt="Диван разложен">
          </picture>
        </div>
        <div class="special-offer__item3 card flex">
          <span class="discount">-600</span>
          <div class="special-offer__wrapper-top flex">
            <picture class="special-offer__img3">
              <source srcset="./images/special3.webp" media="(max-width: 1379px)">
              <source srcset="./images/special3.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/special3.webp" alt="Часы">
            </picture>
          </div>
          <div class="special-offer__wrapper-bottom flex">
            <h4 class="special-offer__card-title card__title">
              Будильник <br> "Quartz-23"
            </h4>
            <div class="wrapper-price item flex">
              <span class="item__price">1 290 руб</span>
              <span class="item__price-old">1 890 руб</span>
            </div>
            <button class="card__btn btn-reset" aria-label="Купить товар специального предложения">Купить</button>
          </div>
        </div>
        <div class="special-offer__item4 card flex">
          <span class="discount">-300</span>
          <div class="special-offer__wrapper-top flex">
            <picture class="special-offer__img4">
              <source srcset="./images/special4.webp" media="(max-width: 750px)">
              <img class="lazyload" src="#" data-src="./images/special4.webp" alt="Чучело оленя">
            </picture>
          </div>
          <div class="special-offer__wrapper-bottom flex">
            <h4 class="special-offer__card-title card__title">
              Мини-скульптура <br>“Oh my deer”
            </h4>
            <div class="wrapper-price item flex">
              <span class="item__price">690 руб</span>
              <span class="item__price-old">990 руб</span>
            </div>
            <button class="card__btn btn-reset" aria-label="Купить товар специального предложения">Купить</button>
          </div>
        </div>
        <div class="special-offer__item5 card flex">
          <span class="discount">-10000</span>
          <div class="special-offer__wrapper-top flex">
            <picture class="special-offer__img5">
              <source srcset="./images/special5.webp" media="(max-width: 750px)">
              <img class="lazyload" src="#" data-src="./images/special5.webp" alt="Диван">
            </picture>
          </div>
          <div class="special-offer__wrapper-bottom flex">
            <h4 class="special-offer__card-title card__title">
              Диван вел-флок <br> “Z-85”
            </h4>
            <div class="wrapper-price item flex">
              <span class="item__price">22 990 руб</span>
              <span class="item__price-old">32 990 руб</span>
            </div>
            <button class="card__btn btn-reset" aria-label="Купить товар специального предложения">Купить</button>
          </div>
          <picture class="special-offer2-mini">
            <source srcset="./images/special2_mini.webp" media="(max-width: 1379px)">
            <source srcset="./images/special2_mini.webp" media="(min-width: 1380px)">
            <img class="lazyload" src="#" data-src="./images/special2_mini.webp" alt="Диван разложен">
          </picture>
        </div>
        <div class="special-offer__item6 card flex">
          <span class="discount">-700</span>
          <div class="special-offer__wrapper-top flex">
            <picture class="special-offer__img6">
              <source srcset="./images/special6.webp" media="(max-width: 750px)">
              <img class="lazyload" src="#" data-src="./images/special6.webp" alt="Термометр">
            </picture>
          </div>
          <div class="special-offer__wrapper-bottom flex">
            <h4 class="special-offer__card-title card__title">
              Термометр + гидрометр “H-18”
            </h4>
            <div class="wrapper-price item flex">
              <span class="item__price">1 390 руб</span>
              <span class="item__price-old">2 090 руб</span>
            </div>
            <button class="card__btn btn-reset" aria-label="Купить товар специального предложения">Купить</button>
          </div>
        </div>
      </div>
    </section>
    <section class="container high-rating">
      <h3 class="high-rating__title">Высокий рейтинг</h3>
      <div class="high-rating__container grid">
        <div class="high-rating__item1 flex">
          <div class="rating flex">
            <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
            <span class="stars">5.0</span>
          </div>
          <div class="high-rating__wrapper-top flex">
            <picture class="high-rating1-img">
              <source srcset="./images/high_rating_img1_320.webp" media="(max-width: 365px)">
              <source srcset="./images/high_rating_img1.webp" media="(max-width: 1379px)">
              <source srcset="./images/high_rating_img1.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/high_rating_img1.webp" alt="Диван">
            </picture>
          </div>
          <div class="high-rating__wrapper flex">
            <h4 class="high-rating__item-title card__title">
              Диван кожаный <br> "R-94"
            </h4>
            <div class="wrapper-price item flex">
              <span class="high-rating__price">94 990 руб</span>
            </div>
            <button class="high-rating__btn btn-reset" aria-label="Купить товар с высоким рейтингом">Купить</button>
          </div>
        </div>
        <div class="high-rating__item2 flex">
          <div class="rating flex">
            <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
            <span class="stars">4.9</span>
          </div>
          <div class="high-rating__wrapper-top flex">
            <picture class="high-rating2-img">
              <source srcset="./images/high_rating_img2_320.webp" media="(max-width: 365px)">
              <source srcset="./images/high_rating_img2.webp" media="(max-width: 1379px)">
              <source srcset="./images/high_rating_img2.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/high_rating_img2.webp" alt="Диван">
            </picture>
          </div>
          <div class="high-rating__wrapper flex">
            <h4 class="high-rating__item-title card__title">
              Диван апартековый <br> "T-75"
            </h4>
            <div class="wrapper-price item flex">
              <span class="high-rating__price">69 990 руб</span>
            </div>
            <button class="high-rating__btn btn-reset" aria-label="Купить товар с высоким рейтингом">Купить</button>
          </div>
        </div>
        <div class="high-rating__item3 flex">
          <div class="rating flex">
            <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
            <span class="stars">4.8</span>
          </div>
          <div class="high-rating__wrapper-top flex">
            <picture class="high-rating3-img">
              <source srcset="./images/high_rating_img3_320.webp" media="(max-width: 365px)">
              <source srcset="./images/high_rating_img3.webp" media="(max-width: 1379px)">
              <source srcset="./images/high_rating_img3.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/high_rating_img3.webp" alt="Диван">
            </picture>
          </div>
          <div class="high-rating__wrapper flex">
            <h4 class="high-rating__item-title card__title">
              Диван тканевый <br> "D-31"
            </h4>
            <div class="wrapper-price item flex">
              <span class="high-rating__price">28 490 руб</span>
            </div>
            <button class="high-rating__btn btn-reset" aria-label="Купить товар с высоким рейтингом">Купить</button>
          </div>
        </div>
        <div class="high-rating__item4 flex">
          <div class="rating flex">
            <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
            <span class="stars">4.8</span>
          </div>
          <div class="high-rating__wrapper-top flex">
            <picture class="high-rating4-img">
              <source srcset="./images/high_rating_img4_320.webp" media="(max-width: 365px)">
              <source srcset="./images/high_rating_img4.webp" media="(max-width: 1379px)">
              <source srcset="./images/high_rating_img4.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/high_rating_img4.webp" alt="Диван">
            </picture>
          </div>
          <div class="high-rating__wrapper flex">
            <h4 class="high-rating__item-title card__title">
              Диван велюровый <br> "Y-68"
            </h4>
            <div class="wrapper-price item flex">
              <span class="high-rating__price">22 990 руб</span>
            </div>
            <button class="high-rating__btn btn-reset" aria-label="Купить товар с высоким рейтингом">Купить</button>
          </div>
        </div>
        <div class="high-rating__item5 flex">
          <div class="rating flex">
            <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
            <span class="stars">4.8</span>
          </div>
          <div class="high-rating__wrapper-top flex">
            <picture class="high-rating5-img">
              <source srcset="./images/high_rating_img5_320.webp" media="(max-width: 365px)">
              <source srcset="./images/high_rating_img5.webp" media="(max-width: 1379px)">
              <source srcset="./images/high_rating_img5.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/high_rating_img5.webp" alt="Диван">
            </picture>
          </div>
          <div class="high-rating__wrapper flex">
            <h4 class="high-rating__item-title card__title">
              Диван из&nbsp;шинила <br> "W-95"
            </h4>
            <div class="wrapper-price item flex">
              <span class="high-rating__price">22 990 руб</span>
            </div>
            <button class="high-rating__btn btn-reset" aria-label="Купить товар с высоким рейтингом">Купить</button>
          </div>
        </div>
        <div class="high-rating__item6 flex">
          <div class="rating flex">
            <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
            <span class="stars">4.8</span>
          </div>
          <div class="high-rating__wrapper-top flex">
            <picture class="high-rating6-img">
              <source srcset="./images/high_rating_img6_320.webp" media="(max-width: 365px)">
              <source srcset="./images/high_rating_img6.webp" media="(max-width: 1379px)">
              <source srcset="./images/high_rating_img6.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/high_rating_img6.webp" alt="Диван">
            </picture>
          </div>
          <div class="high-rating__wrapper flex">
            <h4 class="high-rating__item-title card__title">
              Диван флоковый <br> "G-41"
            </h4>
            <div class="wrapper-price item flex">
              <span class="high-rating__price">17 990 руб</span>
            </div>
            <button class="high-rating__btn btn-reset" aria-label="Купить товар с высоким рейтингом">Купить</button>
          </div>
        </div>
        <div class="high-rating__item7 flex">
          <div class="rating flex">
            <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
            <span class="stars">4.8</span>
          </div>
          <div class="high-rating__wrapper-top flex">
            <picture class="high-rating7-img">
              <source srcset="./images/high_rating_img7.webp" media="(max-width: 1379px)">
              <source srcset="./images/high_rating_img7.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/high_rating_img7.webp" alt="Диван">
            </picture>
          </div>
          <div class="high-rating__wrapper flex">
            <h4 class="high-rating__item-title card__title">
              Диван шиниловый <br> "V-43"
            </h4>
            <div class="wrapper-price item flex">
              <span class="high-rating__price">19 990 руб</span>
            </div>
            <button class="high-rating__btn btn-reset" aria-label="Купить товар с высоким рейтингом">Купить</button>
          </div>
        </div>
        <div class="high-rating__item8 flex">
          <div class="rating flex">
            <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
            <span class="stars">4.7</span>
          </div>
          <div class="high-rating__wrapper-top flex">
            <picture class="high-rating8-img">
              <source srcset="./images/high_rating_img8.webp" media="(max-width: 1379px)">
              <source srcset="./images/high_rating_img8.webp" media="(min-width: 1380px)">
              <img class="lazyload" src="#" data-src="./images/high_rating_img8.webp" alt="Диван">
            </picture>
          </div>
          <div class="high-rating__wrapper flex">
            <h4 class="high-rating__item-title card__title">
              Диван велюровый <br> "S-99"
            </h4>
            <div class="wrapper-price item flex">
              <span class="high-rating__price">19 990 руб</span>
            </div>
            <button class="high-rating__btn btn-reset" aria-label="Купить товар с высоким рейтингом">Купить</button>
          </div>
        </div>
      </div>
    </section>
    <section class="new-collection">
      <div class="container new-collection__wrapper flex">
        <h2 class="new-collection__title">Оксфорд 1950</h2>
        <span class="new-collection__descr">Новая коллекция изысканных кресел</span>
        <button class="new-collection__btn btn-reset" aria-label="Ознакомиться с новой коллекцией">Ознакомиться</button>
      </div>
    </section>
    <section class="container top-categories">
      <h3 class="top-categories__title">Топ категории</h3>
      <div class="top-categories__container grid">
        <div class="top-categories__card1">
          <ul class="top-categories__item-list top-categories__item-list-sofas list-reset flex">
            <li class="top-categories__item">
              <a href="#" class="top-categories__list-link top-categories__list-link-sofas">
                Прямые
              </a>
            </li>
            <li class="top-categories__item">
              <a href="#" class="top-categories__list-link top-categories__list-link-sofas">
                Угловые
              </a>
            </li>
            <li class="top-categories__item">
              <a href="#" class="top-categories__list-link top-categories__list-link-sofas">
                Модульные
              </a>
            </li>
          </ul>
          <h4 class="top-categories__item-title top-categories__item-title-sofas">Диваны
            <a href="#" class="top-categories__link-title">
              <svg class="top-categories__arrow" width="22" height="22" viewBox="0 0 22 22"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1_945)">
                  <circle cx="11" cy="11" r="10" stroke-width="2" />
                  <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </g>
                <defs>
                  <clippath id="clip0_1_945">
                    <rect width="22" height="22" />
                  </clippath>
                </defs>
              </svg>
            </a>
          </h4>
          <picture class="top-categories__img">
            <source srcset="./images/top_categories_img1_320.webp" media="(max-width: 320px)">
            <source srcset="./images/top_categories_img1.webp" media="(max-width: 1379px)">
            <source srcset="./images/top_categories_img1.webp" media="(min-width: 1380px)">
            <img class="lazyload" src="#" data-src="./images/top_categories_img1.webp" alt="Диван">
          </picture>
          <span
            class="top-categories__link__wrapper top-categories__link__wrapper-sofas top-categories__link--hidden flex">
            <a href="#" class="top-categories__link" aria-label="Перейти в каталог">
              В каталог
            </a>
            <svg class="top-categories__arrow" width="22" height="22" viewBox="0 0 22 22"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1_946)">
                <circle cx="11" cy="11" r="10" stroke-width="2" />
                <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </g>
              <defs>
                <clippath id="clip0_1_946">
                  <rect width="22" height="22" />
                </clippath>
              </defs>
            </svg>
          </span>
        </div>
        <div class="top-categories__card2">
          <ul class="top-categories__item-list list-reset flex">
            <li class="top-categories__item">
              <a href="#" class="top-categories__list-link">
                Мягкие
              </a>
            </li>
            <li class="top-categories__item">
              <a href="#" class="top-categories__list-link">
                Кресла-&nbsp;кровати
              </a>
            </li>
          </ul>
          <h4 class="top-categories__item-title">Кресла
            <a href="#" class="top-categories__link-title">
              <svg class="top-categories__arrow" width="22" height="22" viewBox="0 0 22 22"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1_947)">
                  <circle cx="11" cy="11" r="10" stroke-width="2" />
                  <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </g>
                <defs>
                  <clippath id="clip0_1_947">
                    <rect width="22" height="22" />
                  </clippath>
                </defs>
              </svg>
            </a>
          </h4>
          <picture class="top-categories__img">
            <source srcset="./images/top_categories_img2_320.webp" media="(max-width: 750px)">
            <source srcset="./images/top_categories_img2_1024.webp" media="(max-width: 1379px)">
            <source srcset="./images/top_categories_img2.webp" media="(min-width: 1380px)">
            <img class="lazyload" src="#" data-src="./images/top_categories_img2.webp" alt="Кресла">
          </picture>
          <span class="top-categories__link__wrapper top-categories__link--hidden flex">
            <a href="#" class="top-categories__link" aria-label="Перейти в каталог">
              В каталог
            </a>
            <svg class="top-categories__arrow" width="22" height="22" viewBox="0 0 22 22"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1_951)">
                <circle cx="11" cy="11" r="10" stroke-width="2" />
                <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </g>
              <defs>
                <clippath id="clip0_1_951">
                  <rect width="22" height="22" />
                </clippath>
              </defs>
            </svg>
          </span>
        </div>
        <div class="top-categories__card3">
          <ul class="top-categories__item-list list-reset flex">
            <li class="top-categories__item">
              <a href="#" class="top-categories__list-link">
                Односпальные
              </a>
            </li>
            <li class="top-categories__item">
              <a href="#" class="top-categories__list-link">
                Двухспальные
              </a>
            </li>
          </ul>
          <h4 class="top-categories__item-title">Кровати
            <a href="#" class="top-categories__link-title">
              <svg class="top-categories__arrow" width="22" height="22" viewBox="0 0 22 22"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1_948)">
                  <circle cx="11" cy="11" r="10" stroke-width="2" />
                  <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </g>
                <defs>
                  <clippath id="clip0_1_948">
                    <rect width="22" height="22" />
                  </clippath>
                </defs>
              </svg>
            </a>
          </h4>
          <picture class="top-categories__img">
            <source srcset="./images/top_categories_img3_320.webp" media="(max-width: 750px)">
            <source srcset="./images/top_categories_img3_1024.webp" media="(max-width: 1379px)">
            <source srcset="./images/top_categories_img3.webp" media="(min-width: 1380px)">
            <img class="lazyload" src="#" data-src="./images/top_categories_img3.webp" alt="Кровати">
          </picture>
          <span class="top-categories__link__wrapper top-categories__link--hidden flex">
            <a href="#" class="top-categories__link" aria-label="Перейти в каталог">
              В каталог
            </a>
            <svg class="top-categories__arrow" width="22" height="22" viewBox="0 0 22 22"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1_952)">
                <circle cx="11" cy="11" r="10" stroke-width="2" />
                <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </g>
              <defs>
                <clippath id="clip0_1_952">
                  <rect width="22" height="22" />
                </clippath>
              </defs>
            </svg>
          </span>
        </div>
        <div class="top-categories__card4">
          <ul class="top-categories__item-list list-reset flex">
            <li class="top-categories__item">
              <a href="#" class="top-categories__list-link">
                Тумбы
              </a>
            </li>
            <li class="top-categories__item">
              <a href="#" class="top-categories__list-link">
                Комоды
              </a>
            </li>
          </ul>
          <h4 class="top-categories__item-title"><span class="top-categories__card4-span">Тумбы</span> и комоды
            <a href="#" class="top-categories__link-title">
              <svg class="top-categories__arrow" width="22" height="22" viewBox="0 0 22 22"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1_949)">
                  <circle cx="11" cy="11" r="10" stroke-width="2" />
                  <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </g>
                <defs>
                  <clippath id="clip0_1_949">
                    <rect width="22" height="22" />
                  </clippath>
                </defs>
              </svg>
            </a>
          </h4>
          <picture class="top-categories__img">
            <source srcset="./images/top_categories_img4_320.webp" media="(max-width: 750px)">
            <source srcset="./images/top_categories_img4_1024.webp" media="(max-width: 1379px)">
            <source srcset="./images/top_categories_img4.webp" media="(min-width: 1380px)">
            <img class="lazyload" src="#" data-src="./images/top_categories_img4.webp" alt="Тумбы и комоды">
          </picture>
          <span class="top-categories__link__wrapper top-categories__link--hidden flex">
            <a href="#" class="top-categories__link" aria-label="Перейти в каталог">
              В каталог
            </a>
            <svg class="top-categories__arrow" width="22" height="22" viewBox="0 0 22 22"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1_953)">
                <circle cx="11" cy="11" r="10" stroke-width="2" />
                <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </g>
              <defs>
                <clippath id="clip0_1_953">
                  <rect width="22" height="22" />
                </clippath>
              </defs>
            </svg>
          </span>
        </div>
        <div class="top-categories__card5">
          <ul class="top-categories__item-list list-reset flex">
            <li class="top-categories__item">
              <a href="#" class="top-categories__list-link">
                Деревянные
              </a>
            </li>
            <li class="top-categories__item">
              <a href="#" class="top-categories__list-link">
                Металлокаркас
              </a>
            </li>
          </ul>
          <h4 class="top-categories__item-title">Стулья
            <a href="#" class="top-categories__link-title">
              <svg class="top-categories__arrow" width="22" height="22" viewBox="0 0 22 22"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1_950)">
                  <circle cx="11" cy="11" r="10" stroke-width="2" />
                  <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </g>
                <defs>
                  <clippath id="clip0_1_950">
                    <rect width="22" height="22" />
                  </clippath>
                </defs>
              </svg>
            </a>
          </h4>
          <picture class="top-categories__img">
            <source srcset="./images/top_categories_img5_320.webp" media="(max-width: 750px)">
            <source srcset="./images/top_categories_img5_1024.webp" media="(max-width: 1379px)">
            <source srcset="./images/top_categories_img5.webp" media="(min-width: 1380px)">
            <img class="lazyload" src="#" data-src="./images/top_categories_img5.webp" alt="Кресла">
          </picture>
          <span class="top-categories__link__wrapper top-categories__link--hidden flex">
            <a href="#" class="top-categories__link" aria-label="Перейти в каталог">
              В каталог
            </a>
            <svg class="top-categories__arrow" width="22" height="22" viewBox="0 0 22 22"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1_954)">
                <circle cx="11" cy="11" r="10" stroke-width="2" />
                <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </g>
              <defs>
                <clippath id="clip0_1_954">
                  <rect width="22" height="22" />
                </clippath>
              </defs>
            </svg>
          </span>
        </div>
      </div>
    </section>
    <section class="container benefit">
      <h3 class="benefit__title">Полезное</h3>
      <div class="benefit__container grid">
        <div class="benefit__card1 flex">
          <picture class="top-categories__img">
            <source srcset="./images/benefit1_320.webp" media="(max-width: 570px)">
            <source srcset="./images/benefit1_768.webp" media="(max-width: 990px)">
            <source srcset="./images/benefit1_1024.webp" media="(max-width: 1379px)">
            <source srcset="./images/benefit1.webp" media="(min-width: 1380px)">
            <img class="lazyload" src="#" data-src="./images/benefit1.webp" alt="Комната">
          </picture>
          <div class="benefit__card__wrapper flex">
            <p class="benefit__descr">
              И&nbsp;нет сомнений, что сделанные на&nbsp;базе  интернет-аналитики выводы представляют собой не&nbsp;что
              иное?
            </p>
            <button class="card__btn" aria-label="Читать полезное">Читать</button>
          </div>
        </div>
        <div class="benefit__card2 flex">
          <picture class="top-categories__img">
            <source srcset="./images/benefit2_320.webp" media="(max-width: 570px)">
            <source srcset="./images/benefit2_768.webp" media="(max-width: 990px)">
            <source srcset="./images/benefit2_1024.webp" media="(max-width: 1379px)">
            <source srcset="./images/benefit2.webp" media="(min-width: 1380px)">
            <img class="lazyload" src="#" data-src="./images/benefit2.webp" alt="Стол и стул">
          </picture>
          <div class="benefit__card__wrapper flex">
            <p class="benefit__descr">
              Как принято считать, некоторые особенности приносят несомненную пользу обществу?
            </p>
            <button class="card__btn" aria-label="Читать полезное">Читать</button>
          </div>
        </div>
        <div class="benefit__card3 flex">
          <picture class="top-categories__img">
            <source srcset="./images/benefit3_320.webp" media="(max-width: 570px)">
            <source srcset="./images/benefit3.webp" media="(max-width: 1379px)">
            <source srcset="./images/benefit3.webp" media="(min-width: 1380px)">
            <img class="lazyload" src="#" data-src="./images/benefit3.webp" alt="Цветок">
          </picture>
          <div class="benefit__card__wrapper flex">
            <p class="benefit__descr">
              Ясность нашей позиции очевидна: укрепление и&nbsp;развитие внутренней структуры?
            </p>
            <button class="card__btn" aria-label="Читать полезное">Читать</button>
          </div>
        </div>
        <div class="benefit__card4 flex">
          <picture class="top-categories__img">
            <source srcset="./images/benefit4_320.webp" media="(max-width: 570px)">
            <img class="lazyload" src="#" data-src="./images/benefit4.webp" alt="Кухня">
          </picture>
          <div class="benefit__card__wrapper flex">
            <p class="benefit__descr">
              Прежде всего, консультация с&nbsp;широким активом однозначно фиксирует необходимость распределения?
            </p>
            <button class="card__btn" aria-label="Читать полезное">Читать</button>
          </div>
        </div>
        <div class="benefit__card5 flex">
          <picture class="top-categories__img">
            <source srcset="./images/benefit5_320.webp" media="(max-width: 570px)">
            <img class="lazyload" src="#" data-src="./images/benefit5.webp" alt="Зеркало и стул">
          </picture>
          <div class="benefit__card__wrapper flex">
            <p class="benefit__descr">
              Как принято считать, некоторые особенности приносят несомненную пользу обществу?
            </p>
            <button class="card__btn" aria-label="Читать полезное">Читать</button>
          </div>
        </div>
      </div>
    </section>
    <section class="container feedback">
      <h3 class="feedback__title">Мы всегда вам рады!</h3>
      <p class="feedback__descr">Безусловно, новая модель организационной деятельности в&nbsp;значительной степени
        обусловливает важность распределения внутренних резервов и&nbsp;ресурсов.</p>
      <form action="#" method="post" class="feedback__form flex">
        <label class="feedback__input-label flex">
          <input type="text" class="feedback__input feedback__input-name" placeholder="Как вас зовут?" aria-label="Поле для ввода имени">
        </label>
        <label class="feedback__input-label flex">
          <input type="tel" class="feedback__input feedback__input-phone" placeholder="Ваш телефон" aria-label="Поле для ввода телефона">
        </label>
        <label class="feedback__input-label flex">
          <input type="email" class="feedback__input feedback__input-email" placeholder="Ваш e-mail" aria-label="Поле для ввода элнктронной почты">
        </label>
        <button class="feedback__btn btn-reset" aria-label="Отправить данные">Отправить</button>
      </form>
      <input class="feedback__checkbox" id="checkbox" type="checkbox" name="agreement" aria-label="Отметить галочкой согласие с пользовательским соглашением" checked required>
      <label class="feedback__checkbox__agreement" for="checkbox">
        Принимаю <a href="#" class="feedback__checkbox__link" aria-label="Ссылка к пользовательскому соглашению">пользовательское соглашение</a>
      </label>
    </section>
  </main>
</html>

