<!DOCTYPE html>
<html>
  <section class="container product-card">
    <ul class="breadcrumb list-reset">
      <li><a href="#" class="breadcrumb__main-return breadcrumb-link" aria-label="Перейти на главную страницу">Главная</a></li>
      <li><a href="#" class="breadcrumb-link" aria-label="Перейти на страницу каталога">Каталог</a></li>
      <li><a href="#" class="breadcrumb-link" aria-label="Перейти на страницу диваны">Диваны</a></li>
      <li><a href="#" class="breadcrumb-link" aria-label="Перейти на страницу прямые диваны">Прямые диваны</a></li>
      <li>D-31</li>
    </ul>
    <div class="product-card__wrp grid">
      <picture class="product-card__img1">
        <source srcset="./images/card-img1_1024.webp" media="(max-width: 1379px)">
        <source srcset="./images/card-img1.webp" media="(min-width: 1380px)">
        <img class="lazyload" src="#" data-src="./images/card-img1.webp" alt="Диван">
      </picture>
      <div class="product-card__info flex">
        <div class="rating product-card__rating flex">
          <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
          <span class="stars">4.8</span>
        </div>
        <h3 class="product-card__title product-card__title-main">Диван тканевый прямой “D-31”</h3>
        <span class="product-card__mini-descr">Мини 120 см без ящика Stark синий (Рогожка)</span>
        <span class="product-card__price">28 490 руб</span>
        <button class="product-card__buy-btn btn-reset">Купить в один клик</button>
        <button class="product-card__add-btn btn-reset">+ Добавить в корзину</button>
      </div>
      <div class="product-card__descr-wpr flex">
        <h5 class="product-card__descr-title">
          Опорный механизм
        </h5>
        <p class="product-card__descr-top">Опорный механизм напоминает пантограф, к&nbsp;которому добавили дополнительную
          секцию. У&nbsp;опорного дивана сиденье &laquo;выпрыгивает&raquo; вперёд и&nbsp;вытаскивает вторую часть
          спального места. Заключительный штрих&nbsp;&mdash; опустить спинку.
        </p>
        <p class="product-card__descr-bottom">
          Этот механизм не&nbsp;портит пол и&nbsp;не&nbsp;боится ковров. Требуется чуть больше силы, чтобы разложить
          диван, но&nbsp;подросток справится.</p>
        <picture class="product-card__img-mini">
          <source srcset="./images/card-img1-mini.webp" media="(max-width: 1379px)">
          <source srcset="./images/card-img1-mini.webp" media="(min-width: 1380px)">
          <img class="lazyload" src="#" data-src="./images/card-img1-mini.webp" alt="Диван в разложенном виде">
        </picture>
      </div>
      <div class="product-card__specifications flex">
        <ul class="product-card__list-left list-reset">
          <li class="product-card__item">
            <span>Гарантия</span>
          </li>
          <li class="product-card__item">
            <span>Артикул</span>
          </li>
          <li class="product-card__item">
            <span>Длина</span>
          </li>
          <li class="product-card__item">
            <span>Высота</span>
          </li>
          <li class="product-card__item">
            <span>Глубина</span>
          </li>
          <li class="product-card__item">
            <span>Спальное место</span>
          </li>
          <li class="product-card__item">
            <span>Высота посадки</span>
          </li>
          <li class="product-card__item">
            <span>Механизм</span>
          </li>
          <li class="product-card__item">
            <span>Тип обивки</span>
          </li>
          <li class="product-card__item">
            <span>Цвет</span>
          </li>
          <li class="product-card__item">
            <span>Напольнитель</span>
          </li>
          <li class="product-card__item">
            <span>Материал каркаса</span>
          </li>
          <li class="product-card__item">
            <span>Количество мест</span>
          </li>
          <li class="product-card__item">
            <span>Категория</span>
          </li>
          <li class="product-card__item">
            <span>Возраст</span>
          </li>
        </ul>
        <ul class="product-card__list-right list-reset">
          <li class="product-card__item">
            <span>18 месяцев</span>
          </li>
          <li class="product-card__item">
            <span>AAA41269004</span>
          </li>
          <li class="product-card__item">
            <span>163 см</span>
          </li>
          <li class="product-card__item">
            <span>90 см</span>
          </li>
          <li class="product-card__item">
            <span>108 см</span>
          </li>
          <li class="product-card__item">
            <span>200 см х 125 см</span>
          </li>
          <li class="product-card__item">
            <span>45 см</span>
          </li>
          <li class="product-card__item">
            <span>Опорный</span>
          </li>
          <li class="product-card__item">
            <span>Рогожка</span>
          </li>
          <li class="product-card__item">
            <span>Синий</span>
          </li>
          <li class="product-card__item">
            <span>Независимый пружинный блок</span>
          </li>
          <li class="product-card__item">
            <span>Металл. рама с дерев. латами</span>
          </li>
          <li class="product-card__item">
            <span>Двухместные</span>
          </li>
          <li class="product-card__item">
            <span>Прямые тканевые диваны</span>
          </li>
          <li class="product-card__item">
            <span>Условия</span>
          </li>
        </ul>
      </div>
    </div>
    <h4 class="product-card__similar-title">
      Похожие товары
    </h4>
    <div class="product-card__similar-wrp grid">
      <div class="product-card__similar1 card flex">
        <div class="rating rating-similar flex">
          <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
          <span class="stars">4.5</span>
        </div>
        <div class="product-card__wrp-top flex">
          <picture class="product-card__similar1-img">
            <source srcset="./images/high_rating_img10_320.webp" media="(max-width: 365px)">
            <source srcset="./images/high_rating_img10.webp" media="(max-width: 1379px)">
            <source srcset="./images/high_rating_img10.webp" media="(min-width: 1380px)">
            <img class="lazyload" src="#" data-src="./images/high_rating_img10.webp" alt="Диван">
          </picture>
        </div>
        <div class="catalog__wrapper flex">
          <h4 class="card__title product-card__title">
            Диван велюровый <br>“R-85”
          </h4>
          <div class="wrapper-price flex">
            <span class="card-price">34 990 руб</span>
          </div>
          <button class="card__btn product-card__btn btn-reset">Купить</button>
        </div>
      </div>
      <div class="product-card__similar2 card flex">
        <div class="rating rating-similar flex">
          <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
          <span class="stars">4.6</span>
        </div>
        <div class="product-card__wrp-top flex">
          <picture class="product-card__similar2-img">
            <source srcset="./images/high_rating_img11_320.webp" media="(max-width: 365px)">
            <source srcset="./images/high_rating_img11.webp" media="(max-width: 1379px)">
            <source srcset="./images/high_rating_img11.webp" media="(min-width: 1380px)">
            <img class="lazyload" src="#" data-src="./images/high_rating_img11.webp" alt="Диван">
          </picture>
        </div>
        <div class="catalog__wrapper flex">
          <h4 class="card__title product-card__title">
            Диван флоковый <br>“H-58”
          </h4>
          <div class="wrapper-price flex">
            <span class="card-price">23 990 руб</span>
          </div>
          <button class="card__btn product-card__btn btn-reset">Купить</button>
        </div>
      </div>
      <div class="product-card__similar3 card flex">
        <div class="rating rating-similar flex">
          <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
          <span class="stars">4.5</span>
        </div>
        <div class="product-card__wrp-top flex">
          <picture class="product-card__similar3-img">
            <source srcset="./images/high_rating_img12.webp" media="(max-width: 1379px)">
            <source srcset="./images/high_rating_img12.webp" media="(min-width: 1380px)">
            <img class="lazyload" src="#" data-src="./images/high_rating_img12.webp" alt="Диван">
          </picture>
        </div>
        <div class="catalog__wrapper flex">
          <h4 class="card__title product-card__title">
            Диван велюровый <br>“S-44”
          </h4>
          <div class="wrapper-price flex">
            <span class="card-price">19 990 руб</span>
          </div>
          <button class="card__btn product-card__btn btn-reset">Купить</button>
        </div>
      </div>
      <div class="product-card__similar4 card flex">
        <div class="rating rating-similar flex">
          <img src="./images/star.webp" class="rating-star" alt="Рейтинг">
          <span class="stars">4.8</span>
        </div>
        <div class="product-card__wrp-top flex">
          <picture class="product-card__similar4-img">
            <source srcset="./images/high_rating_img13.webp" media="(max-width: 1379px)">
            <source srcset="./images/high_rating_img13.webp" media="(min-width: 1380px)">
            <img class="lazyload" src="#" data-src="./images/high_rating_img13.webp" alt="Диван">
          </picture>
        </div>
        <div class="catalog__wrapper flex">
          <h4 class="card__title product-card__title">
            Диван шиниловый <br>“V-43”
          </h4>
          <div class="wrapper-price flex">
            <span class="card-price">19 990 руб</span>
          </div>
          <button class="card__btn product-card__btn btn-reset">Купить</button>
        </div>
      </div>
    </div>
  </section>
</html>

